@charset "UTF-8";

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #20c9d4; /* Fundo cinza claro */
    color: #333; /* Texto escuro */
}

header {
    background: rgb(2,0,36);
    background: linear-gradient(55deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    color: #fff; /* Texto branco */
    text-align: center;
    font-size: 2em;
    position: relative;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.201);
}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    
}

header p {
    margin: 5px 0 0;
    text-align: center;
    font-size: 0.8em;
}

main {
    background: rgb(2,0,36);
    background: linear-gradient(55deg, rgb(18, 165, 228) 0%, rgb(21, 127, 227) 0%, rgb(215, 229, 232) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: top;
    height: 20vh;
    padding: 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.349);
    position: relative;
    
}
.icones {
background-color: transparent;
}

#icons {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    padding: 0px 7px; 
}

h2 {
    color: #090979;
}
h3, p {
    color: #020024;
    font-weight: bold;
}
div.especial {
    background-color: transparent;
    border: none;
    align-items: top;      
    display: flex;
    justify-content: flex-end;
    right: 1vh;
    margin: auto;
    position: absolute;  
}

section {
    padding: 20px;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
    text-align: justify;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.391);
}

a{
    text-decoration: none;
}

a.cert:hover {
    background-color: #00d4ff;
    color: #020024;
}
a:active {
    color: black
}
a:visited {
    color: #090979;
}
a.cert::after {
    content: "\1F4CE";
    margin-left: 5px;
}

#sobre-mim img {
    border-radius: 50%; /* Deixa a imagem redonda */
    margin-bottom: 15px;
}

#portfolio .projeto {
    margin-bottom: 20px;
    border: 1px solid #ddd; /* Borda cinza */
    padding: 10px;
    border-radius: 5px;
}

#portfolio .projeto img {
    width: 100%;
    border-radius: 5px;
}

#contato ul {
    list-style: none;
    padding: 0;
}

#contato ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #1a1a1a; /* Fundo preto */
    color: #fff; /* Texto branco */
    text-align: center;
    padding: 10px;
}

footer > p {
    color: white;
}


